:root {
  --color-caution: #cc7900;
  --color-information: #24598f;
  --color-negative: #c7162b;
  --color-positive: #0e8420;
  --color-transparent: #ffffff00;
  --color-background-active: #ebebeb;
  --color-background-alt: #f7f7f7;
  --color-background-canonical-logo: #e95420;
  --color-background-checkbox-checked: var(--color-text-link-default, #0066cc);
  --color-background-code: #00000008;
  --color-background-default: #ffffff;
  --color-background-hover: #f2f2f2;
  --color-background-input: #f5f5f5;
  --color-background-overlay: #111111d9;
  --color-background-radio-checked: var(--color-text-link-default, #0066cc);
  --color-background-tooltip: #202020;
  --color-background-badge-default: var(--color-text-default, #000000);
  --color-background-badge-negative: var(
    --color-background-button-negative-default,
    #c7162b
  );
  --color-background-button-base-active: var(
    --color-background-active,
    #ebebeb
  );
  --color-background-button-base-default: #ffffff00;
  --color-background-button-base-hover: var(--color-background-hover, #f2f2f2);
  --color-background-button-brand-active: #cc4414;
  --color-background-button-brand-default: #e95420;
  --color-background-button-brand-hover: #da4816;
  --color-background-button-default-active: var(
    --color-background-active,
    #ebebeb
  );
  --color-background-button-default-default: var(
    --color-background-default,
    #ffffff
  );
  --color-background-button-default-hover: var(
    --color-background-hover,
    #f2f2f2
  );
  --color-background-button-negative-active: #a21223;
  --color-background-button-negative-default: #c7162b;
  --color-background-button-negative-hover: #b01326;
  --color-background-button-positive-active: #0a5f17;
  --color-background-button-positive-default: #0e8420;
  --color-background-button-positive-hover: #0c6d1a;
  --color-background-caution-caution-active: #c75a002e;
  --color-background-caution-default: #c75a001a;
  --color-background-caution-hover: #c75a0026;
  --color-background-information-active: #0063c72e;
  --color-background-information-default: #0063c71a;
  --color-background-information-hover: #0063c726;
  --color-background-negative-active: #c700142e;
  --color-background-negative-default: #c700141a;
  --color-background-negative-hover: #c7001426;
  --color-background-neutral-active: #dedede;
  --color-background-neutral-default: #f2f2f2;
  --color-background-neutral-hover: #e5e5e5;
  --color-background-positive-active: #00c71e2e;
  --color-background-positive-default: #0abd251a;
  --color-background-positive-hover: #00c71e26;
  --color-background-slider-progress: var(--color-text-link-default, #0066cc);
  --color-background-slider-track: var(--color-border-default, #00000033);
  --color-background-status-label-caution: #cc7900;
  --color-background-status-label-default: #666666;
  --color-background-status-label-information: #24598f;
  --color-background-status-label-negative: #c7162b;
  --color-background-status-label-positive: #0e8420;
  --color-background-switch-checked: var(--color-text-link-default, #0066cc);
  --color-background-switch-knob: var(--color-background-default, #ffffff);
  --color-background-switch-track: var(--color-border-high-contrast, #707070);
  --color-border-accent: #0f95a1;
  --color-border-caution: var(--color-caution, #cc7900);
  --color-border-default: #00000033;
  --color-border-focus: #2e96ff;
  --color-border-high-contrast: #707070;
  --color-border-highlight: #000000;
  --color-border-information: var(--color-information, #24598f);
  --color-border-low-contrast: #0000001a;
  --color-border-negative: var(--color-negative, #c7162b);
  --color-border-neutral: #0000008f;
  --color-border-positive: var(--color-positive, #0e8420);
  --color-border-switch-knob: var(--color-border-high-contrast, #707070);
  --color-border-tab-active: var(--color-border-highlight, #000000);
  --color-icon-canonical-logo: #ffffff;
  --color-icon-caution: var(--color-caution, #cc7900);
  --color-icon-default: var(--color-text-default, #000000);
  --color-icon-information: var(--color-information, #24598f);
  --color-icon-link: var(--color-text-link-default, #0066cc);
  --color-icon-muted: var(--color-text-muted, #00000099);
  --color-icon-negative: var(--color-negative, #c7162b);
  --color-icon-positive: var(--color-positive, #0e8420);
  --color-icon-pull-quote-quotation-mark: var(--color-text-muted, #00000099);
  --color-icon-button-base: var(--color-text-default, #000000);
  --color-icon-button-brand: #ffffff;
  --color-icon-button-default: var(--color-icon-default, #000000);
  --color-icon-button-negative: #ffffff;
  --color-icon-button-positive: #ffffff;
  --color-icon-status-queued: #808080;
  --color-icon-status-shade-1: #f7f7f7;
  --color-icon-status-shade-2: #d9d9d9;
  --color-text-caution: var(--color-caution, #cc7900);
  --color-text-default: #000000;
  --color-text-inactive: #000000bf;
  --color-text-muted: #00000099;
  --color-text-negative: var(--color-negative, #c7162b);
  --color-text-positive: var(--color-positive, #0e8420);
  --color-text-search-and-filter-overflow: var(
    --color-text-link-default,
    #0066cc
  );
  --color-text-status-label: #ffffff;
  --color-text-tooltip: #ffffff;
  --color-text-badge-default: var(--color-background-default, #ffffff);
  --color-text-badge-negative: var(--color-text-button-negative, #ffffff);
  --color-text-button-base: var(--color-text-default, #000000);
  --color-text-button-brand: #ffffff;
  --color-text-button-default: var(--color-text-default, #000000);
  --color-text-button-negative: #ffffff;
  --color-text-button-positive: #ffffff;
  --color-text-link-default: #0066cc;
  --color-text-link-visited: #7d42b8;
}
