.docblock-argstable {
  color-scheme: light;
}

.docs-story {
  background-color: var(--lp-color-background-default);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.placeholder-box {
  border: 1px dashed var(--lp-color-border-default, #ccc);

  &.center {
    display: grid;
    place-content: center;
  }
}
