@import "normalize.css";
@import "$lib/styles/reset.css";
@import "$lib/styles/font-faces.css";
@import "@canonical/launchpad-design-tokens/dist/css/dimension/responsive.css";
@import "@canonical/launchpad-design-tokens/dist/css/typography/responsive.css";

html {
  color: var(--tmp-color-text-default);
  background-color: var(--tmp-color-background-default);
}

body {
  font: var(--tmp-typography-paragraph-s);
}
